<div class="upload-photo">
    <div class="custom-file-upload">
        <label for="file-upload" class="custom-button">
            <span nz-icon nzType="camera" nzTheme="outline"></span> Subir fotos
        </label>
        <input id="file-upload" type="file" (change)="uploadFile($event)" />
    </div>
    @if (uploadPercent) {
    <div>
        <progress [value]="uploadPercent | async" max="100"></progress>
        <span>{{ uploadPercent | async }}%</span>
    </div>
    }
    @if (downloadURL) {
    <div>
        <p>Foto subida correctamente. <a [href]="downloadURL | async" target="_blank">Ver foto</a></p>
    </div>
    }
</div>